<div class="pagina"></div>

<div class="centrado">
  <div class="formBox">

    <h1>Recuperar tu contraseña</h1>

    <div class="form-input">
      <ion-item class="recuperar-input">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input required type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>
    </div>

    <div class="formularioRecuperar">


      <ion-button expand="block" class="recuperar-boton" (click)="enviarCorreo()">Enviar correo de recuperación
      </ion-button>
      <div>
        <div>
          <h6 style="display: inline-block;">¿Ya tienes cuenta?</h6>
          <ion-text color="primary" style="display: inline-block; margin-left: 10px;">
            <h6 routerLink="/login">Iniciar sesión</h6>
          </ion-text>
        </div>
      </div>
    </div>

  </div>
</div>