<ion-header id='encabezado'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="textHeader">Administradores</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='page-content'>

    <!--title-->
    <div class="table-title">
      <div class="table-title2">
        <p>LISTA DE ADMINISTRADORES</p>
      </div>
      <div class="btn-mas">
        <div class="btn btn-info d-inline-block text-white" (click)="basicModal.show(); detallesModal();">
          Agregar
        </div>
      </div>
    </div>

    <div class="table-content">
      <table mdbTable class="z-depth-1" striped="true">
        <thead class="black white-text">
          <tr>
            <th [mdbTableSort]="administradores" sortBy="nombreCompleto" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Nombre Completo
            </th>
            <th [mdbTableSort]="administradores" sortBy="usuario" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Usuario
            </th>
            <th [mdbTableSort]="administradores" sortBy="correo" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Correo
            </th>
            <th [mdbTableSort]="administradores" sortBy="celular" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Celular
            </th>
            <th>Más información</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let administrador of administradores">
            <th scope="row">{{administrador.nombreCompleto}}</th>
            <td>{{administrador.usuario}}</td>
            <td>{{administrador.correo}}</td>
            <td>{{administrador.celular}}</td>
            <td>
              <button type="button" class="btn btn-info"
                (click)="basicModal.show(); detallesModal(administrador);">Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminar(administrador)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>

<!-- MODAL MÁS INFORMACIÓN ADMINISTRADOR -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <div>
          <div class="d-inline-block">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <div>
              <h2>Editar Usuario</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <!--Image display-->
        <div class='label-input'>
          <label>Imagen</label>
          <div class="image-div" *ngIf="editar">
            <img *ngIf="administradorModal.archivoFoto != null" [src]="administradorModal.archivoFoto"
              alt="imagen de virus" class="imagen-icono">
            <img *ngIf="administradorModal.archivoFoto == null" src="../../../assets/images/no-imagen.jpg"
              alt="no hay imagen de perfil" class="imagen-icono">
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
              (change)="handleFileInput($event.target.files)">
            <label class="custom-file-label" for="inputGroupFile01">{{administradorModal.localFileName}}</label>
          </div>
        </div>
        <div class='label-input'>
          <label>Nombre</label>
          <input mdbInput type="text" class="form-control" value="{{administradorModal.nombreCompleto}}"
            placeholder="Nombre..." [(ngModel)]="administradorModal.nombreCompleto">
        </div>
        <div class='label-input'>
          <label>Usuario</label>
          <input mdbInput type="text" class="form-control" value="{{administradorModal.usuario}}"
            placeholder="Usuario..." [(ngModel)]="administradorModal.usuario">
        </div>
        <div class='label-input'>
          <label>Correo</label>
          <input mdbInput type="text" class="form-control" value="{{administradorModal.correo}}" placeholder="Correo..."
            [(ngModel)]="administradorModal.correo">
        </div>
        <div class='label-input'>
          <label>Celular</label>
          <input mdbInput type="text" class="form-control" value="{{administradorModal.celular}}"
            placeholder="Contraseña..." [(ngModel)]="administradorModal.celular">
        </div>
        <div class='label-input' *ngIf="!editar">
          <label>Contraseña</label>
          <input mdbInput type="password" class="form-control" value="{{administradorModal.contrasena}}"
            placeholder="Contraseña..." [(ngModel)]="administradorModal.contrasena">
        </div>
        <div class='label-input' *ngIf="!editar">
          <label>Confirmar contraseña</label>
          <input mdbInput type="password" class="form-control" value="{{contrasena}}"
            placeholder="Celular..." [(ngModel)]="contrasena">
        </div>

        <div class=" modal-footer">
          <button type="submit" mdbBtn color="success" *ngIf="editar" (click)="basicModal.hide(); editarAdmin()"
            class="relative waves-light" mdbWavesEffect>Guardar cambios</button>
          <button type="submit" mdbBtn color="success" *ngIf="!editar" (click)="basicModal.hide(); guardarAdmin()"
            class="relative waves-light" mdbWavesEffect>Guardar</button>
        </div>
      </div>
    </div>
  </div>