      <div class="fondo">
        <div class="row">
          <div class="col col-md-4">
            <div class="imagenConsultorioContainer">
              <img id="imagenConsultorio" src="../../../assets/images/no-imagen.jpg" alt="imagen del consultorio">
            </div>
            <div class="form-group">
              <img  [src]="consultorio.archivoFoto" alt="Foto de consultorio">
            </div>
          </div>
          
          <div class="col col-md-8 preguntasDoctor">
            
            <div class="input-group columna">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/medicine.png" alt="doctor pin" class="icon"></span>
                </div>
                <input [(ngModel)]="consultorio.nombreDoctor" type="text" id="nombreDr" name="nombreDr" placeholder="Nombre del doctor" class="form-control" id="" aria-describedby="inputGroupPrepend" readonly>
              </div>
            </div>
            
            <div class="form-group columna">
              <div class="card">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/pin.png" alt="location pin" class="icon"></span>
                  </div>
                  <div class="textCenterVertical">
                    <p class="card-subtitle mb-2 text-muted">{{consultorio.nombreConsultorio}}</p>
                  </div>
              </div>
              </div>
              
              <div class="input-group columna">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/hospital.png" alt="doctor pin" class="icon"></span>
                  </div>
                  <input [(ngModel)]="consultorio.nombreConsultorio" type="text" id="nombreConsultorio" name="nombreConsultorio"  placeholder="Nombre del consultorio" class="form-control" id="" aria-describedby="inputGroupPrepend" readonly>
                </div>
              </div>
              
              
              <div class="input-group columna">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/phone.png" alt="phone pin" class="icon"></span>
                  </div>
                  <input [(ngModel)]="consultorio.telefono" type="text" placeholder="Teléfono del consultorio" class="form-control" id="" aria-describedby="inputGroupPrepend" readonly>
                </div>
              </div>
            </div>
            
          </div>    
          
          <div class="input-group columna">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/pin.png" alt="location pin" class="icon"></span>
              </div>
              <input [(ngModel)]="consultorio.direccion" type="text" placeholder="Dirección de consultorio" class="form-control" id=""  aria-describedby="inputGroupPrepend" readonly>
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="card">
              <div class="card header">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/pin.png" alt="location pin" class="icon"></span>
                </div>
                <div class="textCenterVertical">
                  <h6 class="card-subtitle mb-2 text-muted">Seleccione la localidad</h6>
                </div>
              </div>
              <div class="lista">
                <app-ubicacion-list [ubicacion]="ubicacion" (selected)="ubicacionSelected($event)"></app-ubicacion-list>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group columna">
            <textarea [(ngModel)]="consultorio.descripcion" placeholder="Descripcion o información extra" class="form-control" id="exampleFormControlTextarea1" rows="3" readonly></textarea>
          </div>
          
          <div class="buttons">
            <div class="btn btn-info d-inline-block text-white m-1">
              Editar
            </div>
            <div class="btn btn-info d-inline-block text-white m-1"  type="submit" (click)="registrar()">
              Eliminar
            </div>
          </div>
      </div>
      
