<ion-content>
    <div class='pagina'>
        <div class='contenedor mb-5'>
            <!--Big title card-->
            <div class='card title-card flex-row center-vertically justify-content-center'>
                <div class='flex-column justify-content-center center-vertically '>
                    <!--info titulo-->
                    <div class="flex-row justify-content-center wrap-reverse">
                        <div >
                            <img *ngIf="virus.archivoIconoImg!=null" class='imagen-icono d-inline-block m-2' [src]="virus.archivoIconoImg">
                        </div>
                        <div class='titulo-virus flex-column text-center justify-content-center'>
                            <h1 class='d-block titulo-contenido'>{{virus.nombre}}</h1>
                            <h3 class='d-block contenido-descripcion'>{{virus.clave}}</h3>
                        </div>
                    </div>
                    <!--botones-->
                    <div class="form-row justify-content-center m-1 mt-3 ">
                        <div class="col-sm-11 col-md-10 flex-row justify-content-right">
                            <div class="btn btn-info d-inline-block text-white mr-2" routerLink="/medicos/{{virus.idVirus}}">
                              Ver Médicos
                            </div>
                            <div class="btn btn-info d-inline-block text-white mr-2" routerLink='/estadistica/{{virus.idVirus}}' >
                                Ver Estadisticas 
                            </div>
                            <div class="btn btn-info d-inline-block text-white" routerLink="/test/{{virus.fkTestNodo}}">
                                Hacer Test 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--INFO CARD-->
            <div class='card mt-5' *ngFor="let informacion of virus.informaciones">
                <!--Header card-->
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-menu-button></ion-menu-button>
                        </ion-buttons>
                        <ion-title>
                            <span>{{informacion.texto}}</span>
                        </ion-title>
                    </ion-toolbar>
                </ion-header>
                <!--Content card-->
                <div class='card-body'>
                    <span class='contenido-descripcion pt-3 pb-2'>{{informacion.descripcion}}</span>
                    <!--imagen-->
                    <div class='d-flex justify-content-center mb-3 mt-1' *ngIf="informacion.archivoImg!=null">
                        <img class='img-contenido' [src]="informacion.archivoImg" >
                    </div>
                    <!--video-->
                    <div class='d-flex justify-content-center mb-3 mt-1' *ngIf="informacion.archivoVideo!=null">
                        <vg-player class='video-contenido' (onPlayerReady)="onPlayerReady(informacion, $event)">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>            
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>            
                                <vg-time-display vgProperty='current' vgFormat='mm:ss'></vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>            
                                <vg-time-display vgProperty='total' vgFormat='mm:ss'></vg-time-display>            
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>            
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>            
                            <video [vgMedia]="media" #media preload='auto' crossorigin>
                                <source [src]="informacion.archivoVideo" type='video/mp4'>
                            </video>
                        </vg-player>
                    </div>
                    <!--pdf-->
                    <div class='d-flex justify-content-center mb-3 mt-1' *ngIf="informacion.archivoPdf!=null">
                        <pdf-viewer class='pdf-contenido d-inline-block' [src]="informacion.archivoPdf" [zoom]="informacion.archivoPdfZoom" render-text='true' style='display: block;'></pdf-viewer>
                        <div class='pdf-zoom d-inline-block'>
                            <fa-icon class='btn-zoom d-block' [icon]="icons.zoomOut" (click)="pdfZoomOut(informacion)"></fa-icon>
                            <fa-icon class='btn-zoom d-block' [icon]="icons.zoomIn" (click)="pdfZoomIn(informacion)"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>

            <!--GO UP
                <i class="fas fa-arrow-circle-up"></i>
            -->
        </div>
    </div>
</ion-content>