.colorHeader {
    background-color: #2B94C0;
    color: white;
}

.coloBtn{
    background-color: #2B94C0;
}

.texto{
    border: 2px solid #2B94C0;
    border-radius: 4px;
}

.ancho{
    width: 50px;
}


.blanco{
    color: white !important;
}