ion-header{
    --ion-background-color: rgb(23, 82, 107);
}
.scroll{
    max-height: 345px;
    overflow-y: scroll;
}
.textHeader{
    color: white;
}
.sort {
    cursor:pointer;
}

.form-group {
    display: flex;
    justify-content: space-around;
}

.label-input {
    margin: 15px;
    width: 100%;
}

.page-content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-content {
    width: 80%;
}

.imagen-icono {
    max-width: 125px;
    max-height: 125px;
    object-fit: contain;
}

.image-div {
    margin: 5px;
    margin-right: 20px;
}