.sort {
    cursor:pointer;
}

.label-input {
    margin: 15px;
}

.page-content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-content {
    width: 80%;
}