<ion-content class="fondo">

  <div class="d-flex justify-content-center contenedor">
    <div class="d-flex justify-content-center contenedorVirus">
      <div class=" d-inline-block cartaVirus  m-3"  *ngFor="let virus of viruss">
        <div class="card text-center" >
          <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{virus.nombre}}
          </div>
          <div class="card-body">
            <p>{{virus.clave}}</p>
              <div class='mb-3 mt-2'>
                <img *ngIf="virus.archivoIconoImg!=null" class='imagen-icono' [src]="virus.archivoIconoImg">
              </div>
             <div>
              <a class="btn btn-info d-inline-block text-white m-1" routerLink='/informacion/{{virus.idVirus}}'>
                Información
              </a>
              <a class="btn btn-info d-inline-block text-white m-1" routerLink='/estadistica/{{virus.idVirus}}'>
                Estadísticas
              </a>
              <a class="btn btn-info d-inline-block text-white m-1" routerLink="/medicos/{{virus.idVirus}}">
                Médicos disponibles
              </a>
              <a class="btn btn-info d-inline-block text-white m-1">
                Test de síntomas
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div id="mi-comsultorio-linker" class="mi-comsultorio-linker">
    <div>
      ¿Eres médico y tienes un consultorio? Regístrate aqui para anunciarte en la página
    </div>
    <div>
      <div class="btn btn-info d-inline-block text-white m-1" (click) = RegistrarConsultorio()>
        Registrar consultorio
      </div>
    </div>
  </div>
</ion-content>