<ion-content class="mt-5">
<div class="flex-row justify-content-center mt-5">
  <div class="flex-row  justify-content-center wrap contenedorVirus mt-5">
    <div class=" d-inline-block cartaVirus  m-3"  *ngFor="let virus of viruss">
      <mdb-card class="cartaVirus">
        <!--Card image-->
        <mdb-card-img *ngIf="virus.archivoIconoImg!=null" [src]="virus.archivoIconoImg" alt="Card image cap"></mdb-card-img>

        <a class="btn-action ml-auto mr-4 mdb-color lighten-3 waves-light super-boton " mdbWavesEffect  routerLink='/informacion/{{virus.idVirus}}'>
          <div class="flex-column center-vertically justify-content-center w-100 h-100">
              <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect color="black" style="color:black"></mdb-icon>
          </div>
        </a>


        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title> 
            <h4 class="title div-wrap">{{virus.nombre}},</h4><h5 class="subtitle div-wrap ml-1">{{virus.clave}}</h5>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text class="pointer"> 
            <a  routerLink="/test/{{virus.fkTestNodo}}">Hacer el test de síntomas</a>
          </mdb-card-text>
          
          <!--buttons-->
          <div class="flex-row justify-content-center">
            <a routerLink="/medicos/{{virus.idVirus}}"  class="btn btn-info d-inline-block text-white m-1" mdbWavesEffect>Médicos disponibles</a>
            <a routerLink='/estadistica/{{virus.idVirus}}'  class="btn btn-info text-white m-1 flex-row center-vertically" mdbWavesEffect >Estadísticas</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div> 

  <div id="mi-comsultorio-linker" class="footer flex-column  justify-content-center center-vertically mt-5">

    <div class="flex-column align-items-center" style=" position: absolute;">
     <div>
       ¿Eres médico y tienes un consultorio? Regístrate aqui para anunciarte en la página
     </div>
     <div>
       <div class="btn btn-info d-inline-block text-white m-1" (click) = registrarConsultorio()>
         Registrar consultorio
       </div>
     </div>
   </div>

   <div #alert class="alert alert-warning alert-dismissible fade inBack" style=" position: absolute" role="alert">
     <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
       <span aria-hidden="true">&times;</span>
     </button>
     <strong>¡No tan rapido!</strong> Necesitas <a (click)="logout()" class="alert-link">iniciar tu cuenta de usuario</a> para realizar esta accion.
   </div>

  </div>


</ion-content>