<ion-list class='p-0'>
  <div *ngFor="let ubi of ubicacion.ubicaciones">
      <div  [ngClass]="{'btn-item-selected': ubi.localSelected,'btn-item': !ubi.localSelected }">
          <fa-icon class='btn-icono d-inline-block' (click)="expandUbicacion(ubi)" [icon]="ubi.localIcono"></fa-icon>
          <div class='btn-text d-inline-block' (click)="selectUbicacion(ubi)">{{ubi.nombre}}</div>
      </div>
      <ion-list *ngIf="ubi.localVisible" class='list-ubicacion p-0'>
          <app-ubicacion-list-picker [ubicacion]="ubi" [ubicacionIds]= "ubicacionIds"></app-ubicacion-list-picker>    
      </ion-list>
  </div>
</ion-list>