<ion-header id='encabezado'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="textHeader">Usuarios</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='page-content'>
    <div class="table-content">
      <table mdbTable class="z-depth-1" striped="true">
        <thead class="black white-text">
          <tr>
            <th [mdbTableSort]="usuarios" sortBy="nombreCompleto" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Nombre Completo
            </th>
            <th [mdbTableSort]="usuarios" sortBy="usuario" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Usuario
            </th>
            <th [mdbTableSort]="usuarios" sortBy="correo" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Correo
            </th>
            <th [mdbTableSort]="usuarios" sortBy="celular" class="sort">
              <mdb-icon fas icon="sort"></mdb-icon>
              Celular
            </th>
            <th>Más información</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.nombreCompleto}}</th>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.celular}}</td>
            <td>
              <button type="button" class="btn btn-info">Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminar(usuario)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>