<div class="pagina"></div>

<div class="centrado">
	<div class="formBox">

		<div routerLink="/virus">
			<img src="../../../assets/icon/sidvi-icon.png" class="logo" alt="">
		</div>

		<form [formGroup]="loginForm" (ngSubmit)="login()" class="formularioLogin">
			<div class="form-input">
				<ion-item class="form-item">
					<ion-label position="floating">Usuario</ion-label>
					<ion-input required type="text" formControlName="usuario"></ion-input>
				</ion-item>
			</div>
			<div class="form-input">
				<ion-item class="form-item">
					<ion-label position="floating">Contraseña</ion-label>
					<ion-input type="password" formControlName="password"></ion-input>
				</ion-item>
				<ion-button fill="clear" class="passwordButton" routerLink="/recuperar">Olvidé mi contraseña</ion-button>
				<ion-button fill="clear" class="passwordButton" routerLink="/registro">Registrarme</ion-button>
			</div>
			<ion-button expand="block" type="submit" class="ion-no-margin">Iniciar sesión</ion-button>
		</form>

	</div>
</div>