.centrado {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.pagina {
  background-image: url("../../../assets/images/bg2.jpg");

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-input {
  width: 65%;
}

.form-item {
  --background: rgba(156, 98, 98, 0);
}

.title {
  margin-bottom: 20%;
}

.formBox {

    width: 100%;
    max-width: 450px;

    height: 100%;
    max-height: 500px;
    
    background-color: ghostwhite; /* Black w/opacity/see-through */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioLogin {
    width: 100%;
    max-width: 450px;

    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;
}

.passwordButton{
    width: 100%; 
    font-size: 11px; 
    
    color:black;
}


.logo{
  max-width: 200px;
  cursor: pointer;
}