<ion-split-pane contentId='main'>
    <!--side menu-->
    <ion-menu menuId='sidebar' contentId='main'>
        <ion-content class='sidebar-menu'>
            <div class='m-3' *ngIf="editandoGrafica != null">
                <div class='card text-center p-2 mb-2'>
                    Ubicaciones
                </div>            
                <app-ubicacion-list [ubicacion]="editandoGrafica.ubicacion"></app-ubicacion-list>
                <div class='card text-center p-2 mt-3 mb-2'>
                    Categoría
                </div>
                <div class='form-group'>
                    <select class='form-control' [(ngModel)]="editandoGrafica.idCategoriaSelected" #idCategoriaSelected (change)="updateCategoria(idCategoriaSelected.value)">
                        <option disabled selected [value]="-1">SELECCIONA TU CATEGORIA</option>
                        <option *ngFor="let cat of categorias" [value]="cat.idCategoriaEstadistica">{{cat.nombre}}</option>
                    </select>
                </div>
                <div class='card text-center p-2 mt-3 mb-2'>
                    Eje Horizontal
                </div> 
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name='radios-eje-horizontal' id='radio-subcategoria' [value]="1" [(ngModel)]="editandoGrafica.subcategoriaEjeHorizontal">
                    <label class='form-check-label' for='radio-subcategoria'>Subcategorias</label>
                </div> 
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name='radios-eje-horizontal' id='radio-tiempo' [value]="2" [(ngModel)]="editandoGrafica.subcategoriaEjeHorizontal">
                    <label class='form-check-label' for='radio-tiempo'>Tiempo</label>
                </div>
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name='radios-eje-horizontal' id='radio-ubicacion' [value]="3" [(ngModel)]="editandoGrafica.subcategoriaEjeHorizontal">
                    <label class='form-check-label' for='radio-ubicacion'>Ubicacion</label>
                </div>
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name='radios-eje-horizontal' id='radio-mapa' [value]="4" [(ngModel)]="editandoGrafica.subcategoriaEjeHorizontal">
                    <label class='form-check-label' for='radio-mapa'>Mapa</label>
                </div>
                <div class='form-group mt-1' *ngIf="editandoGrafica.subcategoriaEjeHorizontal >= 2">
                    <select id='input-categoria' class='form-control' [(ngModel)]="editandoGrafica.idSubcategoriaSelected" (change)="updateSubcategoria()">
                        <option disabled selected [value]="-1">SUBCATEGORIA A GRAFICAR</option>
                        <option *ngFor="let subcat of editandoGrafica.categoriaSelected.subcategoriaEstadisticas" [value]="subcat.idSubcategoriaEstadistica">{{subcat.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="editandoGrafica.subcategoriaEjeHorizontal != 4">
                    <div class='card text-center p-2 mt-3 mb-2'>
                        Agrupar
                    </div>
                    <div class='form-check'>
                        <input class='form-check-input' type='radio' name='radios-agrupar' id='radio-agrupar-nada' [value]="1" [(ngModel)]="editandoGrafica.agrupacionOpcion">
                        <label class='form-check-label' for='radio-agrupar-nada'>No agrupar y sin ningun filtro</label>
                    </div>
                    <div class='form-check'>
                        <input class='form-check-input' type='radio' name='radios-agrupar' id='radio-agrupar-categoria' [value]="2" [(ngModel)]="editandoGrafica.agrupacionOpcion">
                        <label class='form-check-label' for='radio-agrupar-categoria'>Agrupar por Categoria</label>
                    </div> 
                    <div class='form-check'>
                        <input class='form-check-input' type='radio' name='radios-agrupar' id='radio-agrupar-filtro' [value]="3" [(ngModel)]="editandoGrafica.agrupacionOpcion">
                        <label class='form-check-label' for='radio-agrupar-filtro'>No agrupar y añadir filtro</label>
                    </div>
                    <div class='form-group mt-2' *ngIf="editandoGrafica.agrupacionOpcion >= 2">
                        <select id='input-categoria' class='form-control' [(ngModel)]="editandoGrafica.idCategoriaSelectedGrupo" (change)="updateCategoriaGrupo()">
                            <option disabled selected [value]="-1">SELECCIONA TU CATEGORIA</option>
                            <option *ngFor="let cat of categorias" [value]="cat.idCategoriaEstadistica">{{cat.nombre}}</option>
                        </select>
                    </div>
                    <div class='form-group' *ngIf="editandoGrafica.agrupacionOpcion == 3">
                        <select id='input-categoria' class='form-control' [(ngModel)]="editandoGrafica.idSubcategoriaSelectedGrupo" (change)="updateSubcategoriaGrupo()">
                            <option disabled selected [value]="-1">SELECCIONA TU SUBCATEGORIA</option>
                            <option *ngFor="let subcat of editandoGrafica.categoriaSelectedGrupo.subcategoriaEstadisticas" [value]="subcat.idSubcategoriaEstadistica">{{subcat.nombre}}</option>
                        </select>
                    </div>
                    <div class='card text-center p-2 mt-3 mb-2'>
                        Opciones
                    </div>
                    <div class='form-group'>
                        <select id='input-categoria' class='form-control' [(ngModel)]="editandoGrafica.tipoGrafica">
                            <option disabled selected value='-1'>SELECCIONA TIPO DE GRÁFICA</option>
                            <option value='bar'>Barras</option>
                        </select>
                    </div>
                </div>
                <div class='text-center btn-info p-2 filtro mt-4' (click)="filtrarEstadisticas()">
                    Actualizar Gráfica
                </div>
            </div> 
            <div class='m-3' *ngIf="editandoGrafica == null">
                <div class='card text-center p-2 mt-3 mb-2'>
                    Selecciona una gráfica para personalizar los datos que quieres conocer con ayuda de los filtros proporcionados.
                </div>
            </div>
        </ion-content>
    </ion-menu>
   
    <ion-router-outlet id="main">
        <!--Page header-->
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>
                    <span>Estadisticas de {{virus.nombre}}</span>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <div class='m-5' *ngFor="let grafica of graficasEstadisticas" class="mouse m-3 p-3" 
            [ngClass]="{'card': grafica == editandoGrafica, 'selected-graph': grafica == editandoGrafica}" 
            (click)="editarGrafica(grafica)"  >                
                <div class='titulo flex-row'>
                    <div class="w-100 text-center">
                        {{grafica.nombre}}
                    </div >
                    <div class="">
                        <i class="fas fa-times-circle" (click)="eliminarGrafica(grafica)"></i>
                    </div>
                </div>
                <div style="display: block;">
                  <canvas mdbChart height='100px'
                      [chartType]="grafica.localChartType"
                      [datasets]="grafica.localChartDatasets"
                      [labels]="grafica.localChartLabels"
                      [colors]="grafica.localChartColors"
                      [options]="grafica.localChartOptions">
                  </canvas>
                </div>
            </div>

            <!--Agregar btn-->
            <div class='d-flex justify-content-center mb-5'>
                <div class='btn btn-info d-inline-block text-white mb-5' (click)="agregarGrafica()">
                    Agregar Grafica
                </div>
            </div>

        </ion-content>
    </ion-router-outlet>
</ion-split-pane>

  