<ion-header id='encabezado' >
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <span class="textHeader">Mi Perfil</span>
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id='fondo-content mt-5'>
    <!--form-->
    <div class="flex-column center-vertically justify-content-center w-100 h-100">
        <div class="flex-row justify-content-center" style="width:80%">
              
            <div class="flex-column col-md-12" style="width:80%">

                <!--  nombre completo -->
                <div class="input-group" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/business.png" alt="doctor pin" class="icon"></span>
                        </div>
                        <input [(ngModel)]="usuario.nombreCompleto" (ngModelChange)="validateField('nombreCompleto', usuario.nombreCompleto)" name="nombreCompleto" type="text" class="form-control" placeholder="Nombre completo">
                    </div>
                    <div class="feedback" *ngIf="fieldValidations.nombreCompleto === false">
                        Ingresa el nombre completo.            
                    </div>
                </div>
                
                <!--rol-->
                <div class="input-group mt-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/protecting.png" alt="doctor pin" class="icon"></span>
                        </div>
                        <input [(ngModel)]="usuario.rol" name="rol" type="text" class="form-control bg-white" readonly>
                    </div>
                </div>
                
                <div class="flex-row justify-content-space wrap-reverse w-100">

                    <!--Image display-->
                    <div class="mt-2 col-md-6 none-pad">
                        <div class="flex-row justify-content-center">
                            <img *ngIf="usuario.archivoFoto != null" id="imgConsultorio" [src]="usuario.archivoFoto" alt="imagen de perfil administrador" class="limit">
                            <img *ngIf="usuario.archivoFoto == null" src="../../../assets/images/no-imagen.jpg" alt="no hay imagen de perfil" class="limit">
                        </div>
                    </div>
                    
                    <div class="flex-column justify-content-space mt-2 mb-2 col-md-6 none-pad">
                        <!--  nombre usuario -->
                        <div class="input-group mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/users.png" alt="doctor pin" class="icon"></span>
                                </div>
                                <input [(ngModel)]="usuario.usuario" (ngModelChange)="validateField('usuario', usuario.usuario)" type="text" name="usuario" placeholder="Nombre de usuario" class="form-control" aria-describedby="inputGroupPrepend"  required>
                            </div>
                            <div class="feedback" *ngIf="fieldValidations.usuario === false" >
                                Ingresa el nombre de usuario.            
                            </div>
                        </div>
                        
                        <!--  correo   -->
                        <div class="input-group mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/interface.png" alt="doctor pin" class="icon"></span>
                                </div>
                                <input [(ngModel)]="usuario.correo" (ngModelChange)="validateField('correo', usuario.correo)"name="correo" type="email" class="form-control" placeholder="Correo Electrónico">
                            </div>
                            <div class="feedback" *ngIf="fieldValidations.correo === false">
                                Ingresa un correo.            
                            </div>
                        </div>
        
                        <!--  celular   -->
                        <div class="input-group mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/phone.png" alt="doctor pin" width="25px"></span>
                                </div>
                                <input [(ngModel)]="usuario.celular" (ngModelChange)="validateField('celular', usuario.celular)" name="celular" type="text" class="form-control" placeholder="Teléfono">
                            </div>
                            <div class="feedback" *ngIf="fieldValidations.celular === false" >
                                Ingresa un teléfono.            
                            </div>
                        </div>
                    </div>

                </div>

                <!--Image input -->
                <div class='label-input mt-2'>
                    <div class="custom-file">
                        <input type="file" accept="image/*" class="custom-file-input" id="inputGroupFile01" (change)="handleFileInput($event.target.files)" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">{{usuario.localFileName}}</label>
                    </div>
                </div>
            
            </div>

              
        </div>

        <!--botones-->
        <div class="flex-row justify-content-center mt-3 ">
              <div class="flex-row justify-content-right">
                  <div class="btn btn-info d-inline-block text-white" (click)="validateAll()">
                    Guardar Cambios
                  </div>
              </div>
        </div>
    </div>
</ion-content>