<div>
  <div>
    <p>
      Imagen...
    </p>
    <p>
      {{virus.nombre}}
    </p>
    <p>
      {{virus.clave}}
    </p>
    <div class="centrado">
      <a class="btn btn-success d-inline-block text-white m-1" routerLink='informacion'>Guardar cambios</a>
    </div>
  </div>

  <div class="botones">
    <div class="centrado">
      <a class="btn btn-info d-inline-block text-white m-1" routerLink='informacion'>Editar
        información</a>
    </div>
    <div class="centrado">
      <a class="btn btn-info d-inline-block text-white m-1" routerLink='estadistica'>Editar
        estadísticas</a>
    </div>
    <div class="centrado">
      <a class="btn btn-info d-inline-block text-white m-1" routerLink='medicos'>Editar Médicos
        Disponibles</a>
    </div>
    <div class="centrado">
      <a class="btn btn-info d-inline-block text-white m-1" routerLink='test'>Editar Test de
        Síntomas</a>
    </div>
  </div>

  <div>
    <div class="centrado">
      <a class="btn btn-danger d-inline-block text-white m-1" routerLink='informacion'>Eliminar virus</a>
    </div>
  </div>
</div>