<ion-content class="mt-5">
  <br><br><br>
  <div class="row justify-content-md-center">
    <!--titulo-->
    <div class='card text-center col-md-10 p-2 mt-3'>
      <h1> SIDVI Sistema de información y diagnóstico de virus</h1>
    </div>
    <!--descripcion/preguntas-->
    <div class="col-md-10 mt-3">
      <h4>¿Qué es?</h4> 
      <p>
        Una plataforma de acceso fácil y rápido donde los usuarios podrán 
        consultar un catálogo de virus. Cada uno de ellos incluye 4 secciones. <br>
        <i>Información</i> para consultar datos o información general. <br>
        <i>Test</i> donde puedes realizar un pre-diagnóstico. <br>
        <i>Estadísticas</i> donde el usuario puede ver visualmente el progreso del virus. 
        Se pueden crear gráficas nuevas para visualizar datos específicos filtrar por una variedad 
        de campos como localidad, genero, edad, sexo, entre otros.<br>
        <i>Médicos Disponibles</i> donde se puede consultar el catálogo de consultorios 
        que atienden dicho virus.<br>
        Este sistema es escalable ya que en cualquier momento se puede agregar un nuevo virus al 
        catálogo junto con su información. La lista de medicos que atienden cada virus es auto 
        gestionable ya que son los mismo medicos quienes dan de alta su consulsultorio para poder 
        aparecer en SIDVI, despues de una validación por parte del sistema.
      </p>

      <h4>Misión</h4> 
      <p>
        Otorgar información valiosa, eficaz y veridica para prevenir posibles contagios, realizar 
        pre-diagnósticos e informar a la sociedad a través de una plataforma de acceso rápido.
      </p>

      <h4>Visión</h4> 
      <p>Ser la plataforma número uno para consultar información y promocionar consultorios acerca de virus 
        en distintas localidades del mundo.</p>

      <h4>¿Quienes somos?</h4> 
      <p>Somos 4 estudiantes próximos a graduar de Ingeniería en Tecnologías Computacionales. 
        Decidimos aplicar nuestros conocimientos de ingeniería y programación para desarrollar un
        producto con potencial de ser utilizado a mayor escala y que aporte valor a la sociedad.
        Como resultado, creamos SIDVI.
      </p>

    </div>
    <!--nuestras fotos-->
    <div class="col col-md-10 fotos mt-3">
      <div class="col">
        <img class="foto" src="../../../assets/team/omar.jpg" alt="no hay imagen">
        <p class="text-center">Omar Quintero Marmol Sánchez</p>
      </div>
      <div class="col">
        <img class="foto" src="../../../assets/team/diego.jpg" alt="no hay imagen">
        <p class="text-center">Diego Montoya Martínez</p>
      </div>
      <div class="col">
        <img class="foto" src="../../../assets/team/fer.jpg" alt="no hay imagen">
        <p class="text-center">Fernanda Orduña Rangel</p>
      </div>
      <div class="col">
        <img class="foto" src="../../../assets/team/angie.PNG" alt="no hay imagen">
        <p class="text-center">Angélica Guemes Estrada</p>
      </div>
      
    </div>
  </div>
</ion-content>