<ion-split-pane contentId='main'>
    <ion-menu menuId='sidebar' contentId='main'>
        <!--content-->
        <ion-content class='sidebar-menu'>

            <!-- tarjeta usuario-->
            <div id='card-usuario'>
                <div id='user-img' class='d-inline-block'>
                    <img *ngIf="usuario.archivoFoto != null" class='imagen-perfil' [src]="usuario.archivoFoto" alt="imagen de perfil administrador">
                    <img *ngIf="usuario.archivoFoto == null" class='imagen-perfil' src='../../assets/images/user.png' alt="imagen de perfil administrador">
                </div>
                <div id='user-data' class='d-inline-block'>
                    <span id='user-name' class='d-block'>{{usuario.nombreCompleto}}</span>
                    <span id='user-role' class='d-block'>{{usuario.correo}}</span>
                </div>
            </div>

            <!--lista-->
            <div id="lista" class="flex-column">
                <!--cuenta-->
                <div class="list-header header-text flex-row center-vertically">
                    <fa-icon class='btn-icono d-inline-block' [icon]="icons.user"></fa-icon> 
                    <h5>CUENTA</h5>
                </div>
                <div class="list-item item-text flex-row center-vertically" (click)="abrirPerfil()" >
                    <p>Mi perfil</p>
                </div>
                <!--
                    <div class="list-item item-text flex-row center-vertically">
                        <p>Restablecer contraseña</p>
                    </div>
                -->

                <!--Catalogos-->
                <div class="list-header header-text flex-row center-vertically">
                    <fa-icon class='btn-icono d-inline-block' [icon]="icons.edit"></fa-icon> 
                    <h5>CATÁLOGOS</h5>
                </div>
                <div class="list-item item-text flex-row center-vertically" (click)="abrirCatalogo('informacion')" >
                    <p>Información</p>
                </div>
                <div class="list-item item-text flex-row center-vertically" (click)="abrirCatalogo('estadistica')">
                    <p>Estadística</p>
                </div>
                <div class="list-item item-text flex-row center-vertically"  (click)="abrirCatalogo('ubicaciones')">
                    <p>Ubicaciones</p>
                </div>

                <!--Gestion-->
                <div class="list-header header-text flex-row center-vertically">
                    <fa-icon class='btn-icono d-inline-block' [icon]="icons.bell"></fa-icon> 
                    <h5>GESTIÓN</h5>
                </div>
                <div class="list-item item-text flex-row center-vertically" (click)="abrirConsultorios()" >
                    <p>Consultorios</p>
                </div>
                <div class="list-item item-text flex-row center-vertically" routerLink='/administrador/administradores' >
                    <p>Administradores</p>
                </div>
                <div class="list-item item-text flex-row center-vertically" routerLink='/administrador/usuarios' >
                    <p>Usuarios</p>
                </div>

                <!--Virus-->
                <div class="list-header header-text flex-row center-vertically">
                    <fa-icon class='btn-icono d-inline-block' [icon]="icons.virus"></fa-icon> 
                    <h5>VIRUS</h5>
                </div>
                <div *ngFor="let virus of viruss">
                    <!-- Split button -->
                    <div class="btn-group list-item item-text" mdbDropdown style="width: 100%;">
                        <button class="btn-drop w-8" type="button" (click)="abrirVirus(virus)" ><p>{{virus.nombre}}</p></button>
                        <button type="button" mdbDropdownToggle class="w-2 dropdown-toggle dropdown-toggle-split px-3 btn-drop hov-dark"></button>
                        <div class="dropdown-menu drop">
                        <a class="dropdown-item" (click)="abrirInformacion(virus)">Información</a>
                        <a class="dropdown-item" (click)="abrirEstadistica(virus)">Estadísticas</a>
                        <a class="dropdown-item" (click)="abrirMedicos(virus)">Médicos disponibles</a>
                        <a class="dropdown-item" (click)="abrirTest(virus)">Test de síntomas</a>
                        </div>
                    </div>         
                    <!--
                        <div class='list-item item-text flex-row center-vertically' (click)="abrirVirus(virus)">
                            <p>{{virus.nombre}}</p>
                        </div>
                    -->
                </div>
                <!--Salir-->
                <div class="list-header header-text flex-row center-vertically" style="height: 5px;">
                </div>
                <div class='list-item item-text flex-row center-vertically' (click)="cerrarSesion()" style="border: 1px solid #d5d5d5;">
                    <p style="color:red">Cerrar Sesión</p>
                </div>
            </div>

            <!--boton-->
            <div class="boton flex-row justify-content-center">
                <div class="btn btn-info d-inline-block text-white m-1"(click)="basicModal.show()">
                    Agregar Virus
                </div>
            </div>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id='main'> </ion-router-outlet>
</ion-split-pane>

<!-- MODAL AGREGAR INFORMACIÓN-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Agregar virus</h4>
            </div>
            <div class="modal-body">

                <!-- NOMBRE -->
                <div class='label-input'>
                    <label>Nombre del virus</label>
                    <input [(ngModel)]="newVirus.nombre" mdbInput type="text" class="form-control"
                        value="{{newVirus.nombre}}">
                </div>

                <!-- CLAVE -->
                <div class='label-input'>
                    <label>Clave</label>
                    <input [(ngModel)]="newVirus.clave" mdbInput type="text" class="form-control" value="{{newVirus.clave}">
                </div>

                <!-- ARCHIVO -->
                <div class='label-input'>
                    <label>Archivo</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" (change)="handleAddFileInput($event.target.files)">
                        <label class="custom-file-label" for="inputGroupFile01">{{newVirus.localFileName}}</label>
                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                        (click)="resetModal()" mdbWavesEffect>Cerrar</button>
                    <button type="submit" mdbBtn color="primary" (click)="agregarVirus()" class="relative waves-light"
                        mdbWavesEffect>Agregar</button>
                </div>
            </div>
        </div>
    </div>