div, span {
    /*font-family: 'Alegreya-Medium';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    */
}
.sidebar-menu{
    --ion-background-color: #fafafa;
}
ion-header{
    background-color: rgb(23, 82, 107);
}

.ion-focusable{
    color:white;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-content-right{
    justify-content: flex-end;
}
.justify-content-left{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space{
    justify-content: space-between;
}
.justify-content-even{
    justify-content: space-evenly;
}
.center-vertically{
    align-items: center;
}
.imagen-perfil {
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-top-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -moz-border-top-left-radius: 25px;

    border-bottom-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-bottom-right-radius: 25px;

    border-top-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-top-right-radius: 25px;

    border-bottom-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
}
#user-data {
    vertical-align: middle;   
}
#user-name {
    font-size: 22px;
    color: #000000;
}
#user-role {
    font-size: 12px;
    color: #000000;
}
#card-usuario {
    background-color: #2B94C0; /*navbar color*/
    height: 70px;
    border-radius: 8px;
    margin: 15px;
}
#user-img {
    width: 70px;
    height: 70px;
    padding: 10px;
}
#lista{
    margin-bottom: 54px;
}
.list-header {
    height: 40px;
    background-color: #fafafa;
}
.list-item{
    height: 36px;
    background-color: white;
}
.list-item:hover{
    cursor: pointer;
}
.list-header, .list-item{
    border-top: 1px solid #d5d5d5;
    padding-left: 15px;
}
.header-text{
    color: #8e8e8e;
}
.item-text{
    color: #121212;
}
.item-text p{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-align: left;
}
fa-icon{
    margin-right: 5px;
}
.boton{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 16px;
    background-color: #fafafa;
}
.boton div{
    width: 100%;
    margin:15px;
}
.btn-drop{
    height: 35px;
    background-color: white !important;
}
.w-8{
    width: 80%;
}
.w-2{
    width: 20%;
}
button.hov-dark:hover{
    background-color: #fafafa !important;
}
.drop{
    margin-top:-5px;
    margin-bottom: 5px;
    width: 100%;
    margin-left: 35%;

}
