<ion-content>
    <div class="bloques-informacion">

        <div class='card-header bloque-titulo'>
            <div class='titulo-pag'>{{virus.nombre}}: Información </div>
            <div>
                <a class="btn btn-primary text-white m-1" (click)="basicModal.show();">Agregar bloque</a>
            </div>
        </div>

        <div class='card-header bloque-boton' *ngFor="let informacion of virus.informaciones">

            <!-- BOTÓN PARA EXPANDIR BLOQUE -->
            <div class="boton-expand" data-toggle="collapse"
                [attr.data-target]="'#InformacionBloque-' + informacion.idInformacion" aria-expanded="false"
                aria-controls="collapseExample">
                <div class='titulo-bloque'>{{informacion.texto}} </div>
            </div>

            <!-- INFORMACIÓN DEL BLOQUE -->
            <div class="collapse" id="InformacionBloque-{{informacion.idInformacion}}">

                <!-- TÍTULO -->
                <div class='label-input'>
                    <label>Título del bloque</label>
                    <input #texto mdbInput type="text" class="form-control" value="{{informacion.texto}}">
                </div>

                <!-- CATEGORÍA -->
                <div class='label-input'>
                    <label>Categoría</label>
                    <select class="custom-select">
                        <option disabled selected>Categoría</option>
                        <option *ngFor="let categoria of categorias; let i = index;"
                            [value]="categorias[i].idCategoriaInformacion">{{categoria.nombre}}</option>
                    </select>
                </div>

                <!-- DESCRIPCIÓN -->
                <div class='label-input'>
                    <label>Descripción</label>
                    <textarea #descripcion class="descripcion-input md-textarea-auto" mdbInput
                        maxlength="1000">{{informacion.descripcion}}</textarea>
                </div>

                <!-- ARCHIVO -->
                <div class='label-input'>
                    <label>Archivo</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01"
                            (change)="handleFileInput(informacion, $event.target.files)">
                        <label class="custom-file-label" for="inputGroupFile01">{{informacion.localFileName}}</label>
                    </div>

                    <!-- FOTO -->
                    <div class='d-flex justify-content-center mb-3 mt-1' *ngIf="informacion.archivoImg!=null">
                        <img class='img-contenido' [src]="informacion.archivoImg">
                    </div>
                    <!-- VIDEO -->
                    <div class='d-flex justify-content-center mb-3 mt-1' *ngIf="informacion.archivoVideo!=null">
                        <vg-player class='video-contenido' (onPlayerReady)="onPlayerReady(informacion, $event)">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                                <vg-time-display vgProperty='current' vgFormat='mm:ss'></vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>
                                <vg-time-display vgProperty='total' vgFormat='mm:ss'></vg-time-display>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                            <video [vgMedia]="media" #media preload='auto' crossorigin>
                                <source [src]="informacion.archivoVideo" type='video/mp4'>
                            </video>
                        </vg-player>
                    </div>
                    <!-- PDF -->
                    <div class='d-flex justify-content-center mb-3 mt-1' *ngIf="informacion.archivoPdf!=null">
                        <pdf-viewer class='pdf-contenido d-inline-block' [src]="informacion.archivoPdf"
                            [zoom]="informacion.archivoPdfZoom" render-text='true' style='display: block;'></pdf-viewer>
                        <div class='pdf-zoom d-inline-block'>
                            <fa-icon class='btn-zoom d-block' [icon]="icons.zoomOut" (click)="pdfZoomOut(informacion)">
                            </fa-icon>
                            <fa-icon class='btn-zoom d-block' [icon]="icons.zoomIn" (click)="pdfZoomIn(informacion)">
                            </fa-icon>
                        </div>
                    </div>
                </div>

                <!-- GUARDAR / ELIMINAR -->
                <div class="botones-guardar-borrar">
                    <a class="btn btn-success text-white m-1"
                        (click)="guardar(informacion, texto.value, descripcion.value)">Guardar cambios</a>
                    <a class="btn btn-danger text-white m-1" (click)="eliminar(informacion)">Eliminar bloque</a>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL AGREGAR INFORMACIÓN-->
    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <form [formGroup]="addInfoForm" (ngSubmit)="agregar()">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title w-100" id="myModalLabel">Agregar bloque de información</h4>
                    </div>
                    <div class="modal-body">


                        <div class='label-input'>
                            <label>Título del bloque</label>
                            <input #texto mdbInput type="text" class="form-control" formControlName="texto">
                        </div>

                        <!-- CATEGORÍA -->
                        <div class='label-input'>
                            <label>Categoría</label>
                            <select formControlName="categoria" class="custom-select">
                                <option disabled selected>Categoría</option>
                                <option *ngFor="let categoria of categorias; let i = index;"
                                    [value]="categorias[i].idCategoriaInformacion">{{categoria.nombre}}</option>
                            </select>
                        </div>

                        <!-- DESCRIPCIÓN -->
                        <div class='label-input'>
                            <label>Descripción</label>
                            <textarea #descripcion class="descripcion-input md-textarea-auto" mdbInput formControlName="descripcion"
                                maxlength="1000"></textarea>
                        </div>

                        <div class='label-input'>
                            <label>Archivo</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01"
                                    (change)="handleAddFileInput($event.target.files)">
                                <label class="custom-file-label" for="inputGroupFile01">{{addFileName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                            (click)="basicModal.hide()" mdbWavesEffect>Cerrar</button>
                        <button type="submit" (click)="basicModal.hide()" mdbBtn color="primary" class="relative waves-light"
                            mdbWavesEffect>Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ion-content>