
  <ion-split-pane contentId="main">
    <!--  menu de la izquierda  -->
    <ion-menu contentId="main">
      <div class='card text-center m-3 p-2'>
        Consultorios
      </div>
       <!-- lista de consultorios -->
      <div class="lista">
        <div   *ngFor="let con of consultoriosList" >
          <div class="boton" [ngClass]="{'btn-item': consultorio != con,'btn-item-selected': consultorio==con}"  (click)= verConsultorioBtn(con)>
            <div class="circulo" [ngClass]="{'habilitado': con.estatus === 'HABILITADO', 'deshabilitado': con.estatus === 'DESHABILITADO', 'en-proceso': con.estatus === 'EN_ESPERA'}"></div>
            <div class='btn-text d-inline-block'  [ngClass]="{'cross': con.estatus === 'RECHAZADO'}"> {{con.nombreConsultorio}}</div>
          </div> 
        </div>
      </div>
    <div class="btn btn-info d-inline-block text-white m-1"  type="submit" (click)="crearConsultorioBtn()">
      Registrar Consultorio
    </div>
  </ion-menu>
  
  <ion-router-outlet id="main" >
    <!-- header del split menu -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <span>Consultorio</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- status dropdown-->
      <div class="alignRight" *ngIf="estadoActual == 2 && consultorio.estatus != 'RECHAZADO'">
        <div>
            <ion-list>
              <ion-item>
                <ion-label> STATUS:</ion-label>
                <ion-select interface="popover" >
                  <ion-select-option value="HABILITADO" >VISIBLE</ion-select-option>
                  <ion-select-option value="DESHABILITADO"  >OCULTO</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
        </div>
        <div class="helpBtn">
          <div class="icon pointer"></div>
        </div>
        
      </div>
      <div class="alignRight" *ngIf="estadoActual == 2 && consultorio.estatus == 'RECHAZADO'">
        <div>
            <p>STATUS: RECHAZADA</p> 
        </div>
        <div class="helpBtn">
          <div class="icon pointer"></div>
        </div>
        
      </div>
      <!--form-->
      <div class="formClass" [ngClass]="{'margin-top-sm': estadoActual == 0 || estadoActual == 1}">
        <form [formGroup]="consultorioForm">
          <div class="row" [ngClass]= "{'none-interactable': consultorio.estatus == 'RECHAZADO'}">
          
            <!--  consultorio image  -->
            <div class="col col-md-4">
              <div class="imagenConsultorioContainer">
                <img *ngIf="consultorio.archivoFoto != null" id="imgConsultorio" [src]="consultorio.archivoFoto" alt="imagen del consultorio" height="200px">
                <img *ngIf="consultorio.archivoFoto == null" src="../../../assets/images/no-imagen.jpg" alt="no hay imagen" height="200px"></div>
              <div class="form-group">
                <input type="file" accept="image/*" class="form-control-file" (change) = "handleFileInput($event.target.files)">
              </div>
            </div>
            
            <div class="col col-md-8 preguntasDoctor flex-clumna">
            
              <!--  nombre doctor  -->
              <div class="input-group columna">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/medicine.png" alt="doctor pin" class="icon"></span>
                  </div>
                  <input [(ngModel)]="consultorio.nombreDoctor" type="text" id="nombreDoctor" name="nombreDoctor" placeholder="Nombre del doctor" class="form-control" style="background-color:white" aria-describedby="inputGroupPrepend" formControlName="nombreDoctor"  required>
                </div>
                <div class="feedback"  *ngIf="consultorioForm.controls.nombreDoctor.errors && (consultorioForm.controls.nombreDoctor.touched || hayErrores)">
                  <div  *ngIf="consultorioForm.controls.nombreDoctor.errors.required">
                    Ingresa el nombre del doctor.            
                  </div>
                </div>
              </div>
            
              <!--  cédula profesional doctor -->
              <div class="input-group columna">
                <div  class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/paper.png" alt="doctor pin" class="icon"></span>
                  </div>
                    <input [(ngModel)]="consultorio.cedulaProfesional" type="text" placeholder="Cédula del doctor" class="form-control" style="background-color:white" aria-describedby="inputGroupPrepend"  formControlName="cedulaProfesional"  required>
                  </div>
                  <div class="feedback"  *ngIf="consultorioForm.controls.cedulaProfesional.errors && (consultorioForm.controls.cedulaProfesional.touched || hayErrores)">
                    <div  *ngIf="consultorioForm.controls.cedula.errors.required">
                      Ingresa la cédula profesional.
                    </div>  
                  </div>
              </div>
            
              <!--  nombre del consultorio  -->
              <div class="input-group columna">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/hospital.png" alt="doctor pin" class="icon"></span>
                    </div>
                    <input [(ngModel)]="consultorio.nombreConsultorio" type="text" id="nombreConsultorio" name="nombreConsultorio"  placeholder="Nombre del consultorio" class="form-control" style="background-color:white" aria-describedby="inputGroupPrepend" formControlName="nombreConsultorio" required>
                  </div>
                  <div class="feedback"  *ngIf="consultorioForm.controls.nombreConsultorio.errors && (consultorioForm.controls.nombreConsultorio.touched || hayErrores)">
                    <div  *ngIf="consultorioForm.controls.nombreConsultorio.errors.required">
                      Ingresa el nombre del consultorio.            
                    </div>
                  </div>
              </div>
            
              <!--  telefono -->
              <div class="input-group columna">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/phone.png" alt="phone pin" class="icon"></span>
                    </div>
                    <input [(ngModel)]="consultorio.telefonoConsultorio" type="text" placeholder="Teléfono del consultorio" class="form-control" style="background-color:white" aria-describedby="inputGroupPrepend"  formControlName="telefonoConsultorio" required >
                  </div>
                  <div class="feedback"  *ngIf="consultorioForm.controls.telefonoConsultorio.errors && (consultorioForm.controls.telefonoConsultorio.touched || hayErrores)">
                    <div *ngIf="consultorioForm.controls.telefonoConsultorio.errors.required">
                      Ingresa el teléfono.
                    </div> 
                  </div>
              </div>

              </div>
              
            </div><!--cierre del row. Preguntas del doctor-->
            
            <div [ngClass]= "{'none-interactable': consultorio.estatus == 'RECHAZADO'}">
              <!--Direccion-->
              <div class="input-group columna">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/pin.png" alt="location pin" class="icon"></span>
                  </div>
                  <input [(ngModel)]="consultorio.direccionConsultorio" type="text" placeholder="Dirección de consultorio" class="form-control" style="background-color:white" formControlName="direccionConsultorio" aria-describedby="inputGroupPrepend" required>
                </div>
                <div class="feedback"   *ngIf="consultorioForm.controls.direccionConsultorio.errors && (consultorioForm.controls.direccionConsultorio.touched || hayErrores)">
                  <div *ngIf="consultorioForm.controls.direccionConsultorio.errors.required">
                    Ingresa una dirección.
                  </div>
                </div>
              </div>
              <br>
              
              <!--ubicacion-->
              <div class="form-row">
                <div class="card">
                  <div class="card header">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend"><img src="../../../assets/images/pin.png" alt="location pin" class="icon"></span>
                    </div>
                    <div class="textCenterVertical">
                      <p class="card-subtitle mb-2 text-muted" *ngIf="consultorio.ubicacion == undefined">Seleccione la localidad</p>
                      <p class="text-muted" *ngIf="consultorio.ubicacion != undefined"> Localidad: {{consultorio.ubicacion.nombre}}</p>
                    </div>
                  </div>
                  <div class="lista">
                    <app-ubicacion-list [ubicacion]="ubicacion" (selected)="ubicacionSelected($event)"></app-ubicacion-list>
                  </div>
                </div>
                <div class="feedback"  *ngIf=" consultorio.fkUbicacion == -1 && hayErrores">
                    Selecciona una ubicación.
                </div>
              </div>
              <br>
              
              <!-- virus que conoce no editable-->
              <div class="card" *ngIf="estadoActual == 2">
                <div class="form-row m-3" >
                  <div class="col-md-4"  *ngFor="let medicoVirus of consultorio.medicosVirus">
                    <div class="flex-clumna">
                      <p style="margin-bottom: 0;">{{medicoVirus.virus.nombre}}</p> 
                      <div>
                        <span *ngIf="medicoVirus.localPromValoracion>=1" class="fa fa-star checked tamanoEstrellaCard"></span>
                        <span *ngIf="1>medicoVirus.localPromValoracion" class="fa fa-star tamanoEstrellaCard"></span>
                        <span *ngIf="medicoVirus.localPromValoracion>=2" class="fa fa-star checked tamanoEstrellaCard"></span>
                        <span *ngIf="2>medicoVirus.localPromValoracion" class="fa fa-star tamanoEstrellaCard"></span>
                        <span *ngIf="medicoVirus.localPromValoracion>=3" class="fa fa-star checked tamanoEstrellaCard"></span>
                        <span *ngIf="3>medicoVirus.localPromValoracion" class="fa fa-star tamanoEstrellaCard"></span>
                        <span *ngIf="medicoVirus.localPromValoracion>=4" class="fa fa-star checked tamanoEstrellaCard"></span>
                        <span *ngIf="4>medicoVirus.localPromValoracion" class="fa fa-star tamanoEstrellaCard"></span>
                        <span *ngIf="medicoVirus.localPromValoracion>=5" class="fa fa-star checked tamanoEstrellaCard"></span>
                        <span *ngIf="5>medicoVirus.localPromValoracion" class="fa fa-star tamanoEstrellaCard"></span>
                      </div>
                      <p>{{medicoVirus.localPromValoracion}} ({{medicoVirus.localTotalValoracion}} valoraciones)</p>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- virus que conoce -->
              <div class="input-froup columna card" style="padding-left: 60px ;">
                <div style="margin-top: 5px;">
                  <p *ngIf= "estadoActual == 0">Seleccione todos los virus que puede tratar:</p>
                </div>
                <div class="form-row">
                  <div class="col-md-4"  *ngFor="let v of virusList">
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input"  id="{{v.idVirus}}" (change)="seleccionVirus(v, $event)" [checked] = " v.selected === true" >
                      <label class="form-check-label" for="{{v.idVirus}}">{{v.nombre}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <!--descripcion -->
              <div class="form-group columna">
                <textarea [(ngModel)]="consultorio.descripcion" placeholder="Descripción o información extra" class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="descripcion" required></textarea>
                <div class="feedback"   *ngIf="consultorioForm.controls.descripcion.errors && (consultorioForm.controls.descripcion.touched || hayErrores)">
                  <div *ngIf="consultorioForm.controls.descripcion.errors.required">
                    Ingresa una descripcion.
                  </div>
                </div>
              </div>
            </div>
            
            <!--botones-->
            <div class="buttons">
              <div *ngIf="estadoActual == 0 || estadoActual == 1" class="btn btn-info d-inline-block text-white m-1">
                Vista Previa
              </div>
              <div *ngIf="estadoActual == 0" class="btn btn-info d-inline-block text-white m-1"  type="submit" (click)="registrar()">
                Registrar
              </div>
              <div *ngIf="estadoActual == 2 && consultorio.estatus != 'RECHAZADO'" class="btn btn-info d-inline-block text-white m-1" (click)="editar(consultorio)" >
                Guardar Cambios
              </div>
              <div *ngIf="estadoActual == 2" class="btn btn-info d-inline-block text-white m-1"  (click)="confirmacionParaEliminar(consultorio)" >
                Eliminar
              </div>
            </div>
            <div class="mb-5">&nbsp;</div>
        </form>
      </div>
    </ion-content>

  </ion-router-outlet>
  
  </ion-split-pane>
