
ion-split-pane{
    margin-top: 70px;
}
.fondo{
    display: flex;
    justify-content: center;
    margin-right:5% ;
    margin-left:5% ;
}
.card-body {
    background-color: #C5ECFC;
}

form{
    width: 80vw;
    margin-top: 2%;
}

#imagenConsultorio{
    min-height: 200px;
    max-height: 200px;
}

.imagenConsultorioContainer {
    display: flex;
    justify-content: center;
}

.preguntasDoctor{
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon{ /*https://www.flaticon.com/packs/contact-us-6*/
    width: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-control-file{
    margin-top: 2px;
}

.feedback{
    color:red;
    font-size: smaller;
}

.columna{
    display:flex;
    flex-direction: column;
}
.lista{
    height: 100%;
}
.btn-icono {
    width: 15%;
    padding: 0px;
    font-size: 14px;
    color:#101010;
    text-align: center;
}
.btn-text {
    width: 85%;
    height: 100%;
    padding-left: 0px;
    font-size: 15px !important;
    color: #000000;
}
.btn-item:hover {
    background-color: #2B94C0;
}
.btn-item-selected {
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #66c2ff;
}
.btn-item {
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card{
    width: 100%;
}
.card-subtitle{
    padding-top: 5px;
}
.lista{
    padding-left: 5%;
}
.textCenterVertical{
    position: absolute;
    top: 20%;
    left: 60px;
}
.header{
    display: flex;
    flex-direction: row;
}