ion-header{
    --ion-background-color: rgb(23, 82, 107);
}

.textHeader{
    color: white;
}

.card {
    background-color: #C5ECFC;
}

.cardzote {
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}